<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
<title>EJS Is Fun</title>

<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<style>
  :root {
    font-family: "Inter", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }
</style>
<script src="//unpkg.com/alpinejs" defer></script>
