<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
<title>EJS Is Fun</title>

<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<style>
  :root {
    font-family: "Inter", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }
</style>
<script src="//unpkg.com/alpinejs" defer></script>
<script>
  function closeModalAndCloseFrame() {
    const isOpen = Alpine.store("isOpen"); // Get the isOpen value from Alpine store
    isOpen = false; // Set isOpen to false
    setTimeout(() => {
      window.parent.postMessage("close", "*"); // Close frame on parent document after 300ms
    }, 300);
  }
</script>
