<!DOCTYPE html>
<html lang="en" class="bg-transparent">
  <head>
  </head>
  <body class="container bg-transparent">
    <main>
      <script>
        parent.location.href = "https://recipesai.co/recipe<%= recipeID %>";
      </script>
    </main>
  </body>
</html>